<h1>Enter a word to determine the basic Scrabble value:</h1>
<form action ='/points' method='get'>
  <div class="form-group">
    <label for="word">Scrabble word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">score word</button>
</form>
